1. Download the Dataset
steps:
* Install required libraries
* Download data from Kaggle
* View dataset files
*Load training set with Pandas
*Load test set with Pandas

In [1]:
#Install Required Libraries
!pip install jovian opendatasets pandas numpy scikit-learn xgboost --quiet

In [2]:
import jovian

In [3]:
jovian.commit()

[jovian] Detected Colab notebook...

[jovian] Error: jovian.commit doesn't work on Colab unless the notebook was created and executed from Jovian.
Make sure to run the first code cell at the top after executing from Jovian.
Alternatively, you can download this notebook and upload it manually to Jovian.
Learn more: https://jovian.ai/docs/user-guide/run.html#run-on-colab

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [5]:

dataset_url = 'https://www.kaggle.com/c/new-york-city-taxi-fare-prediction'

In [6]:
import random

In [7]:
random.random()

0.5771745835135499

In [8]:
sample_fraction = 0.01

In [9]:

def skip_row(row_idx):
  if row_idx == 0:
    return False
  return random.random() > sample_fraction

random.seed(42)

In [10]:
selected_col = 'fare_amount,	pickup_datetime,	pickup_longitude,	pickup_latitude,	dropoff_longitude, dropoff_latitude,	passenger_count'.split(',')

In [11]:

dtypes = {
    'fare_amount' : 'float32',
    'pickup_datetime': 'float32',
    'pickup_longitude': 'float32',
    'pickup_latitude': 'float32',
    'dropoff_longitude':'float32',
    'dropoff_latitude': 'float32',
    'passenger_count':'int32'
 }

In [12]:
# Load files
train = pd.read_csv('train.csv', dtype = dtypes, parse_dates = ['pickup_datetime'], skiprows = skip_row)
test = pd.read_csv('test.csv', parse_dates= ['pickup_datetime'])
sub = pd.read_csv('sample_submission.csv')

In [13]:
!ls -lh{train}

ls: cannot access 'key': No such file or directory
ls: cannot access 'fare_amount': No such file or directory
ls: cannot access '...': No such file or directory
ls: cannot access 'dropoff_latitude': No such file or directory
ls: cannot access 'passenger_count': No such file or directory
/bin/bash: line 1: 0: command not found
/bin/bash: line 2: 1: command not found
/bin/bash: line 3: 2: command not found
/bin/bash: line 4: 3: command not found
/bin/bash: line 5: 4: command not found
/bin/bash: line 6: ...: command not found
/bin/bash: line 7: 10440: command not found
/bin/bash: line 8: 10441: command not found
/bin/bash: line 9: 10442: command not found
/bin/bash: line 10: 10443: command not found
/bin/bash: line 11: 10444: command not found
/bin/bash: line 13: [10445: command not found

In [14]:
train.size

83560

In [15]:
test.size

69398

In [16]:
sub.size

19828

In [17]:
train.head()

       key  fare_amount  ... dropoff_latitude  passenger_count
0  36:22.0          4.0  ...        40.755482                1
1  22:00.0          8.0  ...         0.000000                2
2  07:00.0          8.9  ...        40.766964                3
3  33:00.0          6.9  ...        40.745747                1
4  26:54.0          7.0  ...        40.768604                1

[5 rows x 8 columns]

In [18]:
test.head()

       key           pickup_datetime  ...  dropoff_latitude  passenger_count
0  08:24.0 2015-01-27 13:08:24+00:00  ...         40.743835                1
1  08:24.0 2015-01-27 13:08:24+00:00  ...         40.739201                1
2  53:44.0 2011-10-08 11:53:44+00:00  ...         40.746139                1
3  12:12.0 2012-12-01 21:12:12+00:00  ...         40.751635                1
4  12:12.0 2012-12-01 21:12:12+00:00  ...         40.744427                1

[5 rows x 7 columns]

In [19]:
sub.head()

       key  fare_amount
0  08:24.0        11.35
1  08:24.0        11.35
2  53:44.0        11.35
3  12:12.0        11.35
4  12:12.0        11.35

In [20]:
#load the training set
train.head

<bound method NDFrame.head of            key  fare_amount  ... dropoff_latitude  passenger_count
0      36:22.0          4.0  ...        40.755482                1
1      22:00.0          8.0  ...         0.000000                2
2      07:00.0          8.9  ...        40.766964                3
3      33:00.0          6.9  ...        40.745747                1
4      26:54.0          7.0  ...        40.768604                1
...        ...          ...  ...              ...              ...
10440  38:35.0         10.9  ...        40.774017                1
10441  58:32.0          5.3  ...        40.748154                3
10442  32:59.0         26.5  ...        40.643951                1
10443  34:00.0          8.1  ...        40.706402                1
10444  26:40.0         38.5  ...        40.640747                1

[10445 rows x 8 columns]>

In [21]:
selected_col

['fare_amount',
 '\tpickup_datetime',
 '\tpickup_longitude',
 '\tpickup_latitude',
 '\tdropoff_longitude',
 ' dropoff_latitude',
 '\tpassenger_count']

In [22]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10445 entries, 0 to 10444
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   key                10445 non-null  object
 1   fare_amount        10445 non-null  float32
 2   pickup_datetime    10445 non-null  datetime64[ns, UTC]
 3   pickup_longitude   10445 non-null  float32
 4   pickup_latitude    10445 non-null  float32
 5   dropoff_longitude  10445 non-null  float32
 6   dropoff_latitude   10445 non-null  float32
 7   passenger_count    10445 non-null  int32
dtypes: datetime64[ns, UTC](1), float32(5), int32(1), object(1)
memory usage: 408.1+ KB

In [23]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9914 entries, 0 to 9913
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   key                9914 non-null   object
 1   pickup_datetime    9914 non-null   datetime64[ns, UTC]
 2   pickup_longitude   9914 non-null   float64
 3   pickup_latitude    9914 non-null   float64
 4   dropoff_longitude  9914 non-null   float64
 5   dropoff_latitude   9914 non-null   float64
 6   passenger_count    9914 non-null   int64
dtypes: datetime64[ns, UTC](1), float64(4), int64(1), object(1)
memory usage: 542.3+ KB

In [24]:
train.describe()

        fare_amount  pickup_longitude  ...  dropoff_latitude  passenger_count
count  10445.000000      10445.000000  ...      10445.000000     10445.000000
mean      11.286703        -72.562744  ...         39.908047         1.696218
std        9.606277         10.242438  ...          6.142307         1.315258
min       -2.500000        -77.902481  ...        -74.007561         0.000000
25%        6.000000        -73.992264  ...         40.734192         1.000000
50%        8.500000        -73.981979  ...         40.752861         1.000000
75%       12.500000        -73.967316  ...         40.768147         2.000000
max      201.000000         40.753319  ...         41.366138         6.000000

[8 rows x 6 columns]

In [25]:
train['pickup_datetime'].min(), train['pickup_datetime'].max()

(Timestamp('2009-01-01 16:21:00+0000', tz='UTC'),
 Timestamp('2015-06-30 23:22:46+0000', tz='UTC'))

In [26]:
test['pickup_datetime'].min(), test['pickup_datetime'].max()

(Timestamp('2009-01-01 11:04:24+0000', tz='UTC'),
 Timestamp('2015-06-30 20:03:50+0000', tz='UTC'))

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
train_df, val = train_test_split(train, test_size=0.2, random_state=42)

In [29]:
len(train_df), len(val)

(8356, 2089)

In [30]:
#fill or remove missing value

#train_df = train_df.dropna()
#val = val.dropna()

In [31]:
train_df.columns

Index(['key', 'fare_amount', 'pickup_datetime', 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'passenger_count'],
      dtype='object')

In [32]:
input_cols = ['pickup_longitude','pickup_latitude', 'dropoff_longitude', 'dropoff_latitude','passenger_count']

In [33]:
target_col = 'fare_amount'

In [34]:
train_inputs = train_df[input_cols]

In [35]:
train_targets = train_df[target_col]

In [36]:
train_inputs

      pickup_longitude  pickup_latitude  ...  dropoff_latitude  passenger_count
9364          0.000000         0.000000  ...          0.000000                5
8399        -73.919106        40.758781  ...         40.802471                1
9774        -73.990700        40.756359  ...         40.769150                2
5478        -73.991493        40.749935  ...         40.759190                2
8468        -74.000542        40.742409  ...         40.770824                3
...                ...              ...  ...               ...              ...
5734        -73.982391        40.755711  ...         40.752682                1
5191        -73.954697        40.783508  ...         40.772987                1
5390        -73.973526        40.747948  ...         40.722885                2
860         -73.995575        40.717014  ...         40.731438                2
7270          0.000000         0.000000  ...          0.000000                1

[8356 rows x 5 columns]

In [37]:
train_targets

9364     5.3
8399    24.9
9774     6.1
5478     7.7
8468    16.0
        ...
5734     4.5
5191     7.5
5390     8.9
860      6.0
7270     6.5
Name: fare_amount, Length: 8356, dtype: float32

In [38]:
val_inputs = val[input_cols]

In [39]:
val_targets = val[target_col]

In [40]:
val_inputs

      pickup_longitude  pickup_latitude  ...  dropoff_latitude  passenger_count
3037        -73.954384        40.790234  ...         40.772942                1
33          -73.994659        40.740154  ...         40.784012                1
2664        -73.990646        40.761024  ...         40.750130                5
4447        -73.972656        40.759384  ...         40.737431                1
35          -74.006134        40.740398  ...         40.761421                1
...                ...              ...  ...               ...              ...
9039        -73.988472        40.720177  ...         40.745312                1
9595        -73.885262        40.773052  ...         40.751717                1
511         -73.973473        40.764328  ...         40.771416                1
9254        -74.002945        40.727978  ...         40.763645                2
9456        -73.993340        40.755405  ...         40.735458                1

[2089 rows x 5 columns]

In [41]:
val_targets

3037    11.500000
33      11.300000
2664     5.700000
4447     8.100000
35       8.500000
          ...
9039    14.500000
9595    39.540001
511      6.000000
9254    16.500000
9456    11.000000
Name: fare_amount, Length: 2089, dtype: float32

In [42]:
test_inputs = test[input_cols]

In [43]:
test_inputs

      pickup_longitude  pickup_latitude  ...  dropoff_latitude  passenger_count
0           -73.973320        40.763805  ...         40.743835                1
1           -73.986862        40.719383  ...         40.739201                1
2           -73.982524        40.751260  ...         40.746139                1
3           -73.981160        40.767807  ...         40.751635                1
4           -73.966046        40.789775  ...         40.744427                1
...                ...              ...  ...               ...              ...
9909        -73.968124        40.796997  ...         40.780388                6
9910        -73.945511        40.803600  ...         40.776371                6
9911        -73.991600        40.726608  ...         40.647011                6
9912        -73.985573        40.735432  ...         40.801731                6
9913        -73.988022        40.754070  ...         40.759220                6

[9914 rows x 5 columns]

In [44]:
class MeanRegressor:
  def fit(self, inputs, targets):
    self.mean = targets.mean()

  def predict(self, inputs):
    return np.full(inputs.shape[0], self.mean)

In [45]:
np.full(10, 3)

array([3, 3, 3, 3, 3, 3, 3, 3, 3, 3])

In [46]:
mean_model = MeanRegressor()

In [47]:
mean_model.fit(train_inputs, train_targets)

In [48]:
mean_model.mean

11.170029640197754

In [49]:
train_preds = mean_model.predict(train_inputs)

In [50]:
train_preds

array([11.17002964, 11.17002964, 11.17002964, ..., 11.17002964,
       11.17002964, 11.17002964])

In [51]:
val_preds = mean_model.predict(val_inputs)

In [52]:
val_preds

array([11.17002964, 11.17002964, 11.17002964, ..., 11.17002964,
       11.17002964, 11.17002964])

In [53]:
val_targets

3037    11.500000
33      11.300000
2664     5.700000
4447     8.100000
35       8.500000
          ...
9039    14.500000
9595    39.540001
511      6.000000
9254    16.500000
9456    11.000000
Name: fare_amount, Length: 2089, dtype: float32

In [54]:
from sklearn.metrics import mean_squared_error

In [55]:
def rmse(targets, preds):
  return rmse(targets, preds, squared = False)

In [56]:
#train_rmse = rmse(train_targets, train_preds)

In [57]:
#train_rmse

In [58]:
#val_rmse = rmse(val_targets, val_preds)
#val_rmse

In [59]:
from sklearn.linear_model import LinearRegression

In [60]:
linear_model = LinearRegression()

In [61]:
linear_model.fit(train_inputs, train_targets)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [62]:
train_preds = linear_model.predict(train_inputs)

In [63]:
train_preds

array([10.16943041, 11.16307632, 11.23854026, ..., 11.19305802,
       11.24076535,  9.83055478])

In [64]:
train_targets

9364     5.3
8399    24.9
9774     6.1
5478     7.7
8468    16.0
        ...
5734     4.5
5191     7.5
5390     8.9
860      6.0
7270     6.5
Name: fare_amount, Length: 8356, dtype: float32

In [66]:
#rmse(train_targets, train_preds)

In [67]:
val_preds = linear_model.predict(val_inputs)

In [68]:
#rmse(val_targets, val_preds)

In [69]:
test_inputs

      pickup_longitude  pickup_latitude  ...  dropoff_latitude  passenger_count
0           -73.973320        40.763805  ...         40.743835                1
1           -73.986862        40.719383  ...         40.739201                1
2           -73.982524        40.751260  ...         40.746139                1
3           -73.981160        40.767807  ...         40.751635                1
4           -73.966046        40.789775  ...         40.744427                1
...                ...              ...  ...               ...              ...
9909        -73.968124        40.796997  ...         40.780388                6
9910        -73.945511        40.803600  ...         40.776371                6
9911        -73.991600        40.726608  ...         40.647011                6
9912        -73.985573        40.735432  ...         40.801731                6
9913        -73.988022        40.754070  ...         40.759220                6

[9914 rows x 5 columns]

In [70]:
test_preds = linear_model.predict(test_inputs)

In [71]:
sub

          key  fare_amount
0     08:24.0        11.35
1     08:24.0        11.35
2     53:44.0        11.35
3     12:12.0        11.35
4     12:12.0        11.35
...       ...          ...
9909  37:51.0        11.35
9910  05:51.0        11.35
9911  44:15.0        11.35
9912  05:19.0        11.35
9913  06:23.0        11.35

[9914 rows x 2 columns]

In [72]:
test_preds

array([11.11597149, 11.15256055, 11.13578072, ..., 11.5794778 ,
       11.6519232 , 11.56251612])

In [73]:
sub['fare_amount'] = test_preds

In [74]:
sub

          key  fare_amount
0     08:24.0    11.115971
1     08:24.0    11.152561
2     53:44.0    11.135781
3     12:12.0    11.119363
4     12:12.0    11.084367
...       ...          ...
9909  37:51.0    11.554159
9910  05:51.0    11.530600
9911  44:15.0    11.579478
9912  05:19.0    11.651923
9913  06:23.0    11.562516

[9914 rows x 2 columns]

In [75]:
sub.to_csv('linear_model_submission.csv', index = None)

In [76]:
fname = 'linear_sun2.csv'

In [77]:
def predict_and_submit(model, test_inputs, fmane):
  test_preds = model.predict(test_inputs)
  sub['fare_amount'] = test_preds
  sub.to_csv(fname, index=None)
  return sub

In [78]:
predict_and_submit(linear_model,test_inputs, 'linear_sub2.csv')

          key  fare_amount
0     08:24.0    11.115971
1     08:24.0    11.152561
2     53:44.0    11.135781
3     12:12.0    11.119363
4     12:12.0    11.084367
...       ...          ...
9909  37:51.0    11.554159
9910  05:51.0    11.530600
9911  44:15.0    11.579478
9912  05:19.0    11.651923
9913  06:23.0    11.562516

[9914 rows x 2 columns]

In [79]:
#features_Engineering
def add_dateparts(train, col):
  train[col + '_year'] = train[col].dt.year
  train[col + '_month'] =train[col].dt.month
  train[col + '_day'] = train[col].dt.day
  train[col + '_weekday'] = train[col].dt.weekday
  train[col + '_hour'] = train[col].dt.hour

In [80]:
add_dateparts(train_df, 'pickup_datetime')

In [81]:
test['pickup_datetime'].dt.year

0       2015
1       2015
2       2011
3       2012
4       2012
        ...
9909    2015
9910    2015
9911    2015
9912    2015
9913    2015
Name: pickup_datetime, Length: 9914, dtype: int64

In [82]:
#distance between pickup and drop
from math import radians, cos, sin, asin, sqrt
def haversine_np(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    km = 6367 * c
    return km

In [83]:
def add_trip_distance(train):
  train['trip_distance']  = haversine_np(train['pickup_longitude'],
                                         train['pickup_latitude'],
                                         train['dropoff_longitude'],
                                         train['dropoff_latitude'])

In [84]:
jfk_lonlat = -73.7781, 40.6413
lga_lonlat = -73.8740, 40.7769
ewr_lonlat = -74.1745, 40.6895
met_lonlat = -73.9632, 40.7794
wtc_lonlat = -74.0099, 40.7126

In [85]:
def add_landmark_dropoff_distance(train, landmark_name, landmark_lonlat):
    lon, lat = landmark_lonlat
    train[landmark_name + '_drop_distance'] = haversine_np(lon, lat, train['dropoff_longitude'], train['dropoff_latitude'])

In [86]:
def add_landmarks(a_df):
  landmarks = [('jfk', jfk_lonlat), ('lga', lga_lonlat), ('ewr', ewr_lonlat), ('met', met_lonlat), ('wtc', wtc_lonlat)]
  for name, lonlat in landmarks:
    add_landmark_dropoff_distance(a_df, name, lonlat)

In [87]:
test.describe()

       pickup_longitude  pickup_latitude  ...  dropoff_latitude  passenger_count
count       9914.000000      9914.000000  ...       9914.000000      9914.000000
mean         -73.974722        40.751041  ...         40.751743         1.671273
std            0.042774         0.033541  ...          0.035435         1.278747
min          -74.252193        40.573143  ...         40.568973         1.000000
25%          -73.992501        40.736125  ...         40.735254         1.000000
50%          -73.982326        40.753051  ...         40.754065         1.000000
75%          -73.968013        40.767113  ...         40.768757         2.000000
max          -72.986532        41.709555  ...         41.696683         6.000000

[8 rows x 5 columns]

In [88]:
def remove_outliers(df):
  return train[(train['fare_amount'] >= 1.) &
               (train['fare_amount'] <= 500.) &
               (train['pickup_longitude'] >= -75) & 
               (train['pickup_longitude'] <= -72) & 
               (train['dropoff_longitude'] >= -75) & 
               (train['dropoff_longitude'] <= -72) & 
               (train['pickup_latitude'] >= 40) & 
               (train['pickup_latitude'] <= 42) & 
               (train['dropoff_latitude'] >=40) & 
               (train['dropoff_latitude'] <= 42) & 
               (train['passenger_count'] >= 1) & 
               (train['passenger_count'] <= 6)]

In [89]:
remove_outliers(train_df)

           key  fare_amount  ... dropoff_latitude  passenger_count
0      36:22.0          4.0  ...        40.755482                1
2      07:00.0          8.9  ...        40.766964                3
3      33:00.0          6.9  ...        40.745747                1
4      26:54.0          7.0  ...        40.768604                1
5      00:16.0         15.5  ...        40.686398                1
...        ...          ...  ...              ...              ...
10440  38:35.0         10.9  ...        40.774017                1
10441  58:32.0          5.3  ...        40.748154                3
10442  32:59.0         26.5  ...        40.643951                1
10443  34:00.0          8.1  ...        40.706402                1
10444  26:40.0         38.5  ...        40.640747                1

[10201 rows x 8 columns]

In [90]:
remove_outliers(val)

           key  fare_amount  ... dropoff_latitude  passenger_count
0      36:22.0          4.0  ...        40.755482                1
2      07:00.0          8.9  ...        40.766964                3
3      33:00.0          6.9  ...        40.745747                1
4      26:54.0          7.0  ...        40.768604                1
5      00:16.0         15.5  ...        40.686398                1
...        ...          ...  ...              ...              ...
10440  38:35.0         10.9  ...        40.774017                1
10441  58:32.0          5.3  ...        40.748154                3
10442  32:59.0         26.5  ...        40.643951                1
10443  34:00.0          8.1  ...        40.706402                1
10444  26:40.0         38.5  ...        40.640747                1

[10201 rows x 8 columns]

In [91]:
#train_df.t0_parquet('train.parquet')

In [92]:
#val_df.to_parquet('val_parquet')

In [93]:
#train and evaluate different models
#split inputs&targets

train_df.columns

Index(['key', 'fare_amount', 'pickup_datetime', 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'passenger_count', 'pickup_datetime_year', 'pickup_datetime_month',
       'pickup_datetime_day', 'pickup_datetime_weekday',
       'pickup_datetime_hour'],
      dtype='object')

In [94]:
input_cols = ['fare_amount', 'pickup_datetime', 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'passenger_count', 'pickup_datetime_year', 'pickup_datetime_month',
       'pickup_datetime_day', 'pickup_datetime_weekday',
       'pickup_datetime_hour']

In [95]:
target_col = 'fare_amount'

In [96]:
train_inputs = train_df[input_cols]
train_targets = train_df[target_col]

In [97]:
#val_inputs = val[input_cols]
#val_inputs = test[input_cols]

In [98]:
def evaluate(model):
    train_preds = model.predict(train_inputs)
    train_rmse = rmse(train_targets, train_preds, squared=False)
    val_preds = model.predict(val_inputs)
    val_rmse = rmse(val_targets, val_preds)
    return train_rmse, val_rmse, train_preds, val_preds

In [99]:
#ridge regression

from sklearn.linear_model import Ridge

In [100]:
modell = Ridge(random_state= 42, alpha = 0.9)

In [101]:
#modell.fit(train_inputs, train_targets)

In [102]:
#train_preds = modell.predict(train_inputs)

In [103]:
#evaluate(modell)

In [104]:
#predict_and_submit(modell, test_inputs, 'ridge_submission.csv')

In [105]:
#random forest
!pip install -U scikit-learn==0.21.3

Requirement already satisfied: scikit-learn==0.21.3 in /usr/local/lib/python3.7/dist-packages (0.21.3)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.21.3) (1.19.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.21.3) (1.1.0)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.21.3) (1.4.1)

In [107]:
from sklearn.ensemble import RandomForestRegressor

In [108]:
model2 = RandomForestRegressor(random_state= 42, n_jobs =-1, max_depth = 10, n_estimators=100)

In [110]:
%%time
#model2.fit(train_inputs, train_targets)

CPU times: user 3 µs, sys: 1e+03 ns, total: 4 µs
Wall time: 7.15 µs

In [111]:
#evaluate(model2)

In [113]:
#predict_and_submit(model2, test_inputs 'rf_submission.csv')

In [114]:
#Gradient Boosting

In [115]:
from xgboost import XGBRegressor

In [116]:
model3 = XGBRegressor(max_depth=5, objective = 'reg:squarederror', n_estimators=200, random_state=42, n_jobs = -1)

In [118]:
#model3.fit(train_inputs, train_targets)

In [120]:
#evaluate(model3)

In [121]:
#predict_and_submit(model3,test_inputs, 'xgb_submission.csv )

In [122]:
#hypertuning

In [123]:
import matplotlib.pyplot as plt

In [124]:
def test_params(ModelClass, **params):
    """Trains a model with the given parameters and returns training & validation RMSE"""
    model = ModelClass(**params).fit(train_inputs, train_targets)
    train_rmse = mean_squared_error(model.predict(train_inputs), train_targets, squared=False)
    val_rmse = mean_squared_error(model.predict(val_inputs), val_targets, squared=False)
    return train_rmse, val_rmse

def test_param_and_plot(ModelClass, param_name, param_values, **other_params):
    """Trains multiple models by varying the value of param_name according to param_values"""
    train_errors, val_errors = [], [] 
    for value in param_values:
        params = dict(other_params)
        params[param_name] = value
        train_rmse, val_rmse = test_params(ModelClass, **params)
        train_errors.append(train_rmse)
        val_errors.append(val_rmse)
    
    plt.figure(figsize=(10,6))
    plt.title('Overfitting curve: ' + param_name)
    plt.plot(param_values, train_errors, 'b-o')
    plt.plot(param_values, val_errors, 'r-o')
    plt.xlabel(param_name)
    plt.ylabel('RMSE')
    plt.legend(['Training', 'Validation'])

In [125]:
best_params = {
    'random_state': 42,
    'n_jobs': -1,
    'objective': 'reg:squarederror'
}

In [127]:
%%time
#test_param_and_plot(XGBRegressor, 'num_estimators', [100, 200, 400], **best_params)

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 6.68 µs

In [128]:
#best_param['num_estimators'] = ??

In [130]:
#test_param_and_plot(XGBRegressor, 'max_depth', [3, 5, 6], **best_params)

In [131]:
#best_param['max_depth'] = ??

In [133]:
 #test_param_and_plot(XGBRegressor, 'learning_rate', [3, 5, 7], **best_params)

In [ ]:
09